extends layout/index


block meta
  title #{__('Collections')} #{user.name}
  meta(name="robots" content="noindex")

block content
  .i-wrap--640
    br
    br
    h1.b-graf--h2 #{__('Following collections')}
    p.b-graf--h3
      a(href="/u/#{user.username}") #{user.name}
    br
    br
  .b-post
    br
    .i-wrap--640
      .js-colright-feed.is-empty(data-username="#{user.username}" data-col-follow='true')
      .js-colright-spinner.spinner
        .bar1
        .bar2
        .bar3
      .is-center
        br
        br
        br
        button.i-button.i-button--w-green.js-load-more-colright-feed.is-hidden #{__('Load more')}
        br
        br
        br
      //- include ./blocks/post.jade
    br
