extends layout/index


block meta
  title #{__('Liked article')} #{user.name}

block content
  .i-wrap--640
    br
    br
    h1.b-graf--h2 #{__('Liked article')}
    p.b-graf--h3 #{__('Liked by')} 
      a(href="/u/#{user.username}") #{user.name}
    br
    br
  .b-post
    br
    .i-wrap--640
      .js-loved-article-feed.is-empty(data-username="#{user.username}")
      .js-loved-article-spinner.spinner
        .bar1
        .bar2
        .bar3
      .is-center
        br
        br
        br
        button.i-button.i-button--w-green.js-load-more-loved-article-feed.is-hidden #{__('Load more')}
        br
        br
        br
      //- include ./blocks/post.jade
    br
