include ../util/time.jade

.b-toolbar.js-toolbar
  button.b-toolbar__item.js-bold.icon-bold.is-first(title="Bold")
  button.b-toolbar__item.js-italic.icon-italic(title="Italic")
  button.b-toolbar__item.js-link.icon-link(title="Make Link")

  button.b-toolbar__item.js-heading1.icon-h1(title="Heading 1")
  button.b-toolbar__item.js-heading2.icon-h2.is-hidden-tablet(title="Heading 2")
  button.b-toolbar__item.js-quote1.icon-quote1.is-hidden-tablet(title="Quote 1")
  button.b-toolbar__item.js-quote2.icon-quote2(title="Quote 2")

  button.b-toolbar__item.js-code.icon-code.is-hidden-tablet(title="Code Block")
  button.b-toolbar__item.js-center.icon-center(title="Align Center")
  button.b-toolbar__item.js-drop-cap.icon-drop-cap.is-hidden-tablet(title="Drop Cap")

  button.b-toolbar__item.js-hr.icon-hr.is-hidden-mobile(title="Divider Line")
  button.b-toolbar__item.js-img.icon-add-img.is-hidden-mobile(title="Add Image")
  button.b-toolbar__item.js-help.icon-help.is-last.is-hidden-mobile(title="Help")

  button.js-open.is-hidden
  button.js-save.is-hidden

  input.js-input-img.is-hidden(type="file")

.b-article(data-article-id="#{ article ? article._id : 0 }")
  //- if USER && respond
  //-   .i-wrap--640
  //-     .b-article__respond.js-respond(data-article-id="#{respond._id}")
  //-       .b-post__repost
  //-         a(href="/#{respond.user.username}/#{respond.slug}")
  //-           .b-post__repost__content
  //-             h3.b-post__title !{respond.title}
  //-             p.b-post__subtitle !{respond.subtitle}
  //-             p.i-user--inline.i-user--inline__mod #{__('By')}  
  //-               a(href="/#{respond.user.username}")
  //-                 span.text-red #{respond.user.name}
  script.
    var auto_grow = function (el) {
      el.style.height = '6px'
      el.style.height = el.scrollHeight + "px"
    }
    
  .b-article__head.js-article-head
    block editorCover
      .b-article__cover.js-cover.is-not-cover
        img.b-article__cover__img.js-img-cover
        .b-article__shadow.js-cover-shadow.is-hidden
        .b-article__btn-wrapper
          button.b-article__btn.js-add-cover.icon-add-img
          button.b-article__btn.js-del-cover.icon-del.is-hidden
        input.js-input-cover.is-hidden(type="file")
    block editorTitle
      .b-article__title.js-article-title
        textarea.b-article__head__textarea.b-graf.b-graf--h1.js-title-input(placeholder="#{__('Article title')}" rows="1" minLength="3" maxlength="100" onload="auto_grow(this)" onkeyup="auto_grow(this)")
        .b-article__meta
          div
            //- img(src="#{IMG_URL}ava/#{USER._id}-50.jpg")
            span.b-article__date-head
              +time(new Date)
              span  &middot;  
              span by 
                if USER
                  a.user(href="/u/#{USER.username}") #{USER.name}
                else
                  span.user Anonymous
              br
            span.b-article__tags-head
              if USER && respond
                input.tags-wrap(data-tags="#{ JSON.stringify(respond.tags) }" placeholder="Topics, Max 3")
              else
                input.tags-wrap(placeholder="Topics, Max 3")
          .clear
  if USER && respond
    .i-wrap--640
      .b-article__respond.js-respond(data-article-id="#{respond._id}")
        .b-post__repost
          .b-graf--sc #{__('In response to')}
          a(href="/p/#{respond.slug}")
            .b-post__repost__content
              h3.b-post__title !{respond.title}
              p.b-post__subtitle !{respond.subtitle}
              p.i-user--inline.i-user--inline__mod #{__('By')}  
                a(href="/u/#{respond.user.username}")
                  span.text-red #{respond.user.name}
  .b-article__content.js-editable(contentEditable="true")
    block editorContent
      p.b-graf.b-graf--placeholder.is-placeholder #{__('Article content')}&hellip;
  .clear
//- .b-article__tags
//-   .i-wrap--640
//-     block editorTags
//-       input.tags-wrap(placeholder="Insert tags, Max 3")


span.b-tooltip.js-tooltip-link
span.b-tooltip.js-tooltip-input-link
  input.js-input-link(type="text" placeholder="#{__('Valid link')}")

span.b-tooltip.js-tooltip-image
  button.b-tooltip__btn.js-img-left.icon-img-left
  button.b-tooltip__btn.js-img-center.icon-img-center
  button.b-tooltip__btn.js-img-right.icon-img-right
  button.b-tooltip__btn.js-img-full.icon-img-full
  button.b-tooltip__btn.js-img-link.icon-link
  button.b-tooltip__btn.js-img-del.icon-del

script(src="#{ASSET_URL}js/iframeResizer.min.js")
script.
  var resizeIframe = function(obj) {
    iFrameResize({
      resizedCallback: function (res){
        res.iframe.height = res.height
      }
    })    
  }
