br
.i-user--inline__mod.is-center.is-read
  a(href="/c/framesia-help") #{__('Help')}
  span(style="margin:5px") &middot;  
  a(href="/p/framesia-berbagi-dunia--40zu1ray38ao") #{__('About')}
  span(style="margin:5px") &middot;  
  a(href="") #{__('License')}
  span(style="margin:5px") &middot;  
  a(href="/c/kebijakan-framesia") #{__('Terms')}
  span(style="margin:5px") &middot;  
  a(href="/p/kebijakan-privasi-framesia--411lditde0kk") #{__('Privacy')}